@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  background-color: #080a1a;
  color: #ffffff;
}

/* override */
.ant-btn-primary {
  background-color: #1677ff;
}
.override .ant-select-selector,
.override input {
  background: #080a1a !important;
  color: #ffffff !important;
}

.override .ant-select-arrow {
  color: #ffffff !important;
}
.ant-card-body {
  padding: 12px 24px !important;
}

/* scroll-bar */
::-webkit-scrollbar {
  width: 8px;
  height: 8px;
}

/* Track */
::-webkit-scrollbar-track {
  border-radius: 100vh;
  background: #edf2f7;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #717579;
  border-radius: 100vh;
  border: 1px solid #edf2f7;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #cfdcee;
}
